<!DOCTYPE html>
<html lang="ko">
<head>
<title>Vue To do list</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
<div id="app">
    <!-- onchange=userIdC(this) -->
    <input type="text" id="user_id" v-model="userId">
    <input type="password" id="user_password" v-model="userPassword">
    <button type ="button">로그인</button>
    <br/>
    <span id = "text">zz</span>
    아이디 : {{ userId }}
    <br/>
    비밀번호 : {{ userPassword }}


    <br>

    <ul style="list-style:none;">
        <template v-for="item in items">
            <li>
                <img :src="item.image"/>
            </li>
            <li>
                {{item.title}}
            </li>
        </template>
    </ul>

    <input type="button" value="추가버튼" onclick="add()"/>

</div>

<!-- 개발버전, 도움되는 콘솔 경고를 포함. -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
<script> 
    let app = new Vue({
        //실시간으로 값 변경 
        el: "#app",
        data(){
            return {
                userId: '',
                userPassword: '',
                items: [
                    {
                        id:1,
                        image: 'https://picsum.photos/210/118/?image=1',
                        title: '월드 정액권'
                    },
                    {
                        id:2,
                        image: 'https://picsum.photos/210/118/?image=2',
                        title: '바다 정액권'
                    },
                    {
                        id:3,
                        image: 'https://picsum.photos/210/118/?image=3',
                        title: '콜드 정액권'
                    },
                    {
                        id:4,
                        image: 'https://picsum.photos/210/118/?image=4',
                        title: '코딩'
                    }
                ]
            }
        }
    })

    function add(){
        app.items.push({
            id:4,
            image: 'https://picsum.photos/210/118/?image=350',
            title: '추가아이템'
        });
    }

    function userIdC(obj){
        document.getElementById('text').innerText = obj.value;
        //$("#text").text(obj.value);
    }
    function login(){
        let userId = document.getElementById('user_id').value;
        let userPassword = document.getElementById('user_password').value;

        var a = $("#user_id").val();
        console.log(userId + " ff" + a);
        console.log(userPassword);        
    }
</script>

</body>
</html>